{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
			
       
<h1>Enlaces</h1>
<h3>Fundación CIRD </h3>
<p>Fundada en el año 1988 con el fin de apoyar a las organizaciones de la sociedad civil, de manera a que se conviertan en protagonistas del desarrollo del país, promoviendo la responsabilidad social y la capacidad de incidir efectivamente en el proceso de toma de decisión pública.<br />
<a href="http://www.cird.org.py">www.cird.org.py</A><BR>
</p>
<h3>Agencia SC Noticias</h3>
<p>Noticias de la sociedad civil paraguaya, para brindar un espacio virtual que vincule al tercer sector con los medios de comunicación masiva.<br />
<a href="http://www.scnoticias.org">www.scnoticias.org</A><BR>
</p>
<h3>Plataforma Paraguay Debate</h3>
<p>Plataforma interorganizacional que nuclea a Organizaciones y Asociaciones, con el objetivo de aunar esfuerzos para la instalación de temas de interés general en las agendas políticas y en el debate público, relacionados a aspectos clave de política social y economía y de gestión pública en general, incentivando la atención ciudadana sobre los mismos.<br />
<a href="http://www.paraguaydebate.org.py">www.paraguaydebate.org.py</A><BR>
</p>
<h3>Tribunal Superior de Justicia Electoral</h3>
<p>Máximo órgano electoral de la República del Paraguay<br />
<a href="http://www.tsje.gov.py">www.tsje.gov.py</A><BR>
</p>
<h3>Fundación Ciudadano Inteligente</h3>
<p>Organización chilena cuyo objetivo es fortalecer la democracia y reducir la desigualdad en América Latina, promoviendo la transparencia y la participación ciudadana a través del uso innovador de las tecnologías de la información.<br />
<a href="http://www.ciudadanointeligente.org">www.ciudadanointeligente.org</A></p>
</div>
        
          {% endblock content %}