{% extends "base_sub_menu.html" %}
{% block content %}

<meta property="og:description" content="A quienes elegimos - Conocé, compará, consultá a tus candidatos. Todo lo que necesitas saber para votar en las elecciones generales de abril próximo."/>
<meta name="description" content="Todo lo que necesitas saber para votar informado en las elecciones 2013">
<meta name="keywords" content="elecciones, parlasur, senador, diputados, presidente, paraguay,  2013">
<meta property="og:image" content="{{ STATIC_URL }}images/portadaFacebook.png"/>






                      <div class="bulb_container">
                        <div class="fci-ampolleta-light">
                          <iframe src="http://ciudadanointeligente.org/assets/bulb_light.html?wmode=transparent" width="120px" height="220" frameborder="0">
                          </iframe>
                        </div>
                      </div>
                  

<body class="bodySubmenu">
<div class="container-fluid wraperContent">

  <div class="row-fluid">
    <div class="span12" style="text-align:center">
      <div class="candideitorgPrimarias"> 
        <p class="introduccionHome"> Bienvenido a Vota Inteligente, el sitio electoral de @ciudadanoi. En esta oportunidad dejamos a tu disposición el especial de Elecciones Primarias, y te extendemos la invitación a participar, debatir, preguntar, compartir y fomentar el #VotoInformado.</p>
        <iframe src="http://www.candideit.org/dtejada/primarias/embeded" style="width:100%;" height="450" frameborder="0" scrolling="no"> </iframe>
        <p class="significadoP"> *** <span class="p">P </span>en la esquina superior izquiera significa que esos candidatos van a Primarias.</p>
      </div>
      </br>
      </br>

      <div class="row-fluid">
        <ul class="thumbnails home-py tt-wrapper">
         


          <li class="span3"><a href="{% url comparador %}" class="thumbnail"><img src="{{ STATIC_URL }}images/bannerCompara.jpg" alt="Vice-Presidente" name="over2"> </a>

            <h5>Compara Programas de Gobierno</h5>
          </li> 



          <!-- <li class="span3"><a href="vicepresidentea" class="thumbnail"><img src="{{ STATIC_URL }}images/perfilesCandidatos.png" alt="Vice-Presidente" name="over2"> </a>
            <h5>Revisa los perfiles de los candidatos</h5> -->
          
           <li class="span3"><a class="tt-preguntales thumbnail" href="/presidenciales/preguntales"><img src="{{ STATIC_URL }}images/bannerPreguntales.jpg"></a>
            <h5>¡Pregúntales lo que quieras saber!</h5>
          </li>

          <li class="span3"><a href="{% url intereses %}" class="thumbnail" ><img src="{{ STATIC_URL }}images/bannerPerfiles.jpg" alt="Senadores" name="over3"> </a>
            <h5>Perfiles de Interés</h5>
          </li>
          
          <li class="span3"> <a href="{% url mas_info %}" class="thumbnail">  <img src="{{ STATIC_URL }}images/masInfo.png"></a>
            <h5>Más Información</h5> 
          </li>

         <!--  <li class="span3"><a class="tt-preguntales thumbnail" href="#"><img src="{{ STATIC_URL }}images/bannerPreguntales.jpg" alt="Presidentes" name="over1"><span>Ingresa en el buscador el nombre de tu comuna y ahí podrás hacer tus preguntas.</span></a>
            <h5>¡Pregúntales!</h5>
          </li> -->
          
        </ul>
      </div>
      
<!--BANNER QUIEN TE FINANCIA -->
    <!-- <div class="contenedorCentro">
      <div class="row-fluid">
        <div class="span12 thumbnail"> 
        <h5>¿Quién te Financia?</h5>
      </div>
    </div> -->
    
    
  
    
    <!-- ticker ultimas preguntas y respuestas --> 
    <script type="text/javascript">
    $(document).ready(function(){
        $('.barra_noticias').easyTicker({
            visible: 1,
            interval: 5000
        });
    });
    </script> 
    
  </div>
</div>
</div>
</div>

<div class="container">

{% endblock content %}

  {% block extra_js %}
<style type="text/css">
    .barra_noticias{
        border: 3px solid #CE00CE;
        margin-top: 12px;
        font-size: 12px;
        max-height: 60px;
        background:#663399 url('{{ STATIC_URL }}images/signoInterrogacion.png') no-repeat 20px 0px ;
        color: white;
        border-radius: 10px;
    }
    .barra_noticias ul li{
        padding: 5px 10px 5px 80px;
    }


</style>


{% endblock extra_js %} 

</div>

</div>
</body>


