{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
			
<h1>Quienes somos</h1>
<p>El <a href="http://www.cird.org.py" target="_blank"><strong>Centro de Información y Recursos para el Desarrollo - CIRD</strong></a> es una fundación comunitaria que trabaja desde el año 1988 con el fin de apoyar a las organizaciones de la sociedad civil, en acciones que apuntan a propiciar la participación ciudadana en el proceso de la toma de decisión pública, para fomentar un cambio positivo y sostenido en el país.</p>
<p>El Área de Comunicación del CIRD ha iniciado desde el año 2006 la campaña<strong> &quot;A Quiénes Elegimos&quot;</strong>, una iniciativa de transparencia electoral enfocado a generar información para la ciudadanía sobre los candidatos a las elecciones municipales. Este proyecto ha continuado en el 2008, con el objetivo de difundir información sobre los candidatos a las elecciones generales del 20 de abril de 2008, y luego poniendo a disposición de los ciudadanos información sobre las autoridades del Poder Ejecutivo, Legislativo y Judicial, promoviendo de esta forma el acercamiento de las autoridades con la ciudadanía.</p>
<p>Con esta iniciativa buscamos generar mayor acceso a la información pública por parte de la ciudadanía, fortalecer el proceso democrático en Paraguay y promover el voto informado. La transparencia y la responsabilidad en el ejercicio de la función pública son pilares fundamentales de la democracia.</p>
<p><strong>&quot;A Quiénes Elegimos&quot;</strong> pone a disposición en este año 2013 un Banco de Datos de carácter público donde los ciudadanos pueden informarse acerca de los candidatos, trayectorias y propuestas, así como realizar consultas ciudadanas a las diferentes candidaturas a cargos públicos.</p>
<p><strong>&quot;A Quiénes Elegimos&quot;</strong> cuenta con la cooperación financiera de <a href="http://www.ned.org)" target="_blank"><strong>Fundación Nacional para la Democracia – NED</strong></a>. Así también cuenta con la cooperación técnica de la <strong><a href="http://www.ciudadanointeligente.org" target="_blank">Fundación Ciudadano Inteligente de Chile</a></strong> y del <strong><a href="http://www.tsje.gov.py" target="_blank">Tribunal Superior de Justicia Electoral – TSJE</a></strong>.</p>
<p> Cuenta además con alianzas con diferentes iniciativas y organizaciones civiles no gubernamentales como:</p>
<ul>
  <li> <a href="http://www.jqm.org.py" target="_blank">Juventud Que Se Mueve</a></li>
  <li><a href="http://www.asuncionnosune.org.py" target="_blank">Asunción Nos Une</a></li>
  <li><a href="http://www.facebook.com/reaccionpy" target="_blank">Reacción Juvenil de Cambio de Ciudad del Este</a></li>
  <li><a href="http://www.facebook.com/RedEncarnacenaDeVoluntariado" target="_blank">Red Encarnacena de Voluntariado</a></li>
  <li><a href="http://www.somosvoluntariospy.org" target="_blank">Red “Somos Voluntarios por un Paraguay Mejor”</a></li>
  <li><a href="http://www.votoinformado.com.py" target="_blank">Voto Informado</a></li>
</ul>
<br /><br />
        
        </div>
        
          {% endblock content %}