{% extends "base_sub_menu.html" %}
{% block content %}









<div class="paginaCompleta container">
</br> </br>
<h3>¿Quienes Somos?</h3>



<p class="somos">
Este sitio ha sido desarrollado por la <a href="http://www.ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a> con el objeto de entregar a la ciudadanía un espacio de información y participación de cara a las próximas elecciones primarias. 
</br> </br>

Ciudadano Inteligente convocó a su vez a <a href="http://www.casadelapaz.cl/" target="_blank">Casa de la Paz,</a> <a href="http://www.educacion2020.cl/" target="_blank">Educación 2020, </a> <a href="http://www.iguales.cl/" target="_blank">Iguales,</a> <a href="http://www.techo.org/chile/" target="_blank">Techo </a>y <a href="http://www.fundaciontacal.cl/" target="_blank">Tacal </a> a conformar una alianza de organizaciones de la sociedad civil, para plantear una serie de inquietudes a los candidatos presidenciales e invitarlos a tomar una postura frente a principales temas de interés colectivo.  </br> </br>

Juntos planteamos a los candidatos algunas inquietudes en materia de sustentabilidad, educación, discriminación, vivienda, discapacidad y democracia, pero te invitamos a mostrar también las tuyas. Infórmate, comenta, participa y debate junto a nosotros.
</p>
</div>
        
          {% endblock content %}