{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
			
       
<div>
<h1>CANDIDATOS/AS A SENADORES</h2></div>


    	<p>

        Para mejor organización de los perfiles de las diferentes candidaturas, dividimos a los Candidatos a Senadores de acuerdo a su puesto en la lista. 
    </p>
    <p>
        Ingrese aquí para ver a los integrantes de cada lista que han respondido al cuestionario de A Quiénes Elegimos:
    </p>
    <p>

        <ul>
<li><a href="senadores-no-1">Senadores Nº 1</a></li>
<li><a href="senadores-no-2">Senadores Nº 2</a></li>
<li><a href="senadores-no-3">Senadores Nº 3</a></li>
        </ul>
      </p>
        
        </div>
        
          {% endblock content %}