{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
<h1>Voluntarios</h1>
<p>El contenido de esta web, las más de 250 entrevistas a candidatos y candidatas, todo el esfuerzo, el entusiasmo generado en cada cuestionario respondido, no hubiera sido posible sin</p>
<p>la contribución de los más de 100 jóvenes voluntarios que participaron de 10 capacitaciones que realizamos en todo el país y fueron aquellos que con mucha paciencia y perseverancia contactaron con los candidatos y candidatas, fijaron entrevistas y conversaron con los mismos.</p>
<p>Una gran contribución a la democracia de estos jóvenes, y el fruto de su trabajo será visible durante todo el mes previo a las elecciones de abril del 2013, en donde los ciudadanos estarán consultando los perfiles de las diferentes opciones electorales que existen.</p>
<p>¡Muchas gracias a todo el equipo de voluntarios!</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" valign="top"><p><strong>Alto Paraná</strong><br />
      Ceferino Campuzano<br />
      Denis Báez<br />
      Patricia Servín<br />
      Rubén Eugenio Agüero Quinteros<br />
      Tatiana Wittman</p>
      <p><strong>Caaguazú<br />
        </strong>Anahí Rojas<br />
        Ananía Cáceres<br />
        Anchi Barrios<br />
        Rocío Cáceres<br />
        Stefanni Dos Santos<br />
        Tatiana Mendoza</p>
      <p><strong><img src="{{ STATIC_URL }}images/voluntarios-villarrica.jpg" width="400" height="240" alt="Voluntario de Villarrica" /><br />
        Guairá</strong><br />
        Elizabeth Roa<br />
        Elsa Roa<br />
        Flavia Venialgo<br />
        Rodrigo Manuel Barreto Roa</p>
      <p><strong>Caazapá</strong><br />
        Isabelino Bazán<br />
        Marco Ullón<br />
        Perla Maidana</p>
      <p><strong><img src="{{ STATIC_URL }}images/voluntarios-amambay.jpg" width="400" height="240" alt="Voluntarios de Amambay" /><br />
        Amambay</strong><br />
        Laura Argüello<br />
        Miguel Moraes<br />
        Natalia Ibarra</p>
      <p><strong>Canindeyú</strong><br />
        José Ramírez<br />
        Karla Golin</p>
      <p><strong>Cordillera</strong><br />
        Adolfo Ruiz Ferreira<br />
        Antonio Benítez Rivas<br />
        Linda Vera Marchuk<br />
        Luis Ocampo<br />
        María Auxiliadora Vera<br />
        María del Carmen Vera</p>
      <p><strong>Paraguarí</strong><br />
        Daniel Curtido<br />
        Daniel Quintana<br />
        David Curtido<br />
        María Magdalena Báez<br />
        Teresita Ayala</p>
      <p><strong>Concepción</strong><br />
        Alcides Ramírez<br />
        Kevin Alexander Wood<br />
        Sandino Manuel Valiente</p>
      <p><strong>San Pedro</strong><br />
        Daisy Benítez<br />
        Ediltrudis Sánchez<br />
        Elida Wyder</p>
      <p><strong>Ñeembucú</strong><br />
        Alba Ozuna<br />
        Juan Ramón Galeano<br />
        Laura Falchi      </p>
      <p><strong><img src="{{ STATIC_URL }}images/voluntarios-misiones.jpg" width="400" height="240" alt="Voluntarios de Misiones" /><br />
        Misiones</strong><br />
        Eduardo Martínez<br />
        Esteban Santacruz<br />
      Jacinto Moreno</p></td>
    <td width="50%" valign="top"><p><strong><img src="{{ STATIC_URL }}images/voluntarios-enc.jpg" width="400" height="240" alt="Voluntarios de Encarnación" /><br />
      Itapúa</strong><br />
      Diana Reyes<br />
      Gisela Araujo<br />
      Laura Medina<br />
      Lorena Escobar<br />
      María Eugenia Araujo<br />
      María Rufina Guillen<br />
      Marta Escobar<br />
      Robert Watson</p>
      <p><strong><img src="{{ STATIC_URL }}images/voluntarios-asu.jpg" width="400" height="240" alt="Voluntrios de Asunción" /><br />
        Asunción y Central</strong><br />
        Alan González<br />
        Aldo López<br />
        Andrea Ortiz Núñez<br />
        Arturo Cardozo<br />
        Cecilia Duarte<br />
        Claudia Vallejos<br />
        Cynthia Carolina Ortega Benítez<br />
        Denisse Soto<br />
        Deysi Mercado<br />
        Elías Páez<br />
        Eva Patricia Villagra Zarza<br />
        Fátima Marlene<br />
        Felicia Cabrera<br />
        Frida Carina Arias Ríos<br />
        Génesis Díaz<br />
        Hernán Osiris Altamirano<br />
        Hugo Cáceres<br />
        Irma Delvalle<br />
        Ismael Ortega<br />
        Juan Aguilar<br />
        Julietta Molinas<br />
        Luz Salinas<br />
        Lyz Dahiana Báez Rojas<br />
        María Asunción Delgado<br />
        Mariana Cartasso<br />
        Maribel Mercado<br />
        Maricruz Cristaldo<br />
        Mario Larroza Gómez<br />
        Mathias Bedoya<br />
        Mayrha Lorena Benegas<br />
        Mical Rodríguez Laconich<br />
        Pamela Santander<br />
        Patricia Montanía<br />
        Pura Zayas<br />
        Rodrigo Daniel Ramírez Bogado<br />
        Rodrigo Pereira Penayo<br />
        Sergio David Benítez<br />
        Tania Jazmín Penayo<br />
        Verónica Benítez<br />
        Verónica Pereira<br />
        Víctor Genes
        Yanina Ozorio<br />
        Yazmin Fleitas Aquino</p>
      <p><strong>Presidente Hayes</strong><br />
        Dania Patricia Núñez<br />
        Leonardo Favio Benítez<br />
        Luis Carlos Espinoza<br />
        Walter Hugo Armoa</p>
      <p><strong>Boquerón</strong><br />
        Juan Delvalle<br />
        Liz Piris</p>
      <p><strong>Alto Paraguay<br />
      </strong>Francisco Samaniego</p></td>
  </tr>
</table>
<p>{% endblock content %}</p>
</div>
