{% extends "base_sub_menu.html" %}
{% block content %}

<meta property="og:description" content="Viste estos datos de {{eleccion}}"/>
<meta name="description" content="A quienes elegimos - Conocé, compará, consultá a tus candidatos. Todo lo que necesitas saber para votar en las elecciones generales de abril próximo.">
<meta name="keywords" content="elecciones, parlasur, senador, diputados, presidente, paraguay, 2013">
<meta property="og:image" content="{{ STATIC_URL }}images/portadaFacebook.png"/>

<body class="bodySubmenu">
<div class="container-fluid wraperContent">

  <div class="row-fluid">
    <div class="span12" style="text-align:center">
                                              <div class="candideitorgPrimarias"> 
                                               
                                                <iframe src="http://www.candideit.org/dtejada/comparador-de-programas/embeded" style="width:100%;" height="600" frameborder="0" scrolling="no"> </iframe>
                                              </div>


                                                <div class="bannerElVaso">
                                                <a href="http://www.elvaso.cl/" target="blank"><img class=""alt="Voto Informado" src="{{ STATIC_URL }}images/vasoBanner2.png" width="100%" height="175" /></a><br /><br />
                                                </div>
        </div>
    </div>                    
                           


</div>
</body>












        
{% endblock content %}

