
{% extends "base_sub_menu.html" %}
{% block content %}

<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" ></script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script> 

<body class="bodySubmenu">
	<div class="container-fluid wraperContent">    
		<div class="row-fluid">
			<div class="span12"> 
				<h3> <img class="iconoInfo" src="{{ STATIC_URL }}images/iconoInfo.png"><img class="iconoInfo" src="{{ STATIC_URL }}images/iconoInfo2.png"><img class="iconoInfo" src="{{ STATIC_URL }}images/iconoInfo3.png"> <span class="masInfo3">+ info |</span> <span class="masInfo2">Todo lo que necesias saber </span></h3>
			</br>
			</br>
					<div class="accordion" id="accordion2">
					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					        <span class="asterisco">*</span><strong>¿Por qué y para qué es importante votar en las elecciones primarias?</strong>
					      </a>
					    </div>
					    <div id="collapseOne" class="accordion-body collapse in">
					      <div class="accordion-inner">
					    El Congreso aprobó una ley de primarias, pero ¿de qué sirve un Ferrari si no lo echas a andar?
						Si los candidatos son designados entre cuatro paredes, difícilmente sabremos si éstos son los más indicados o los más representativos de las demandas ciudadanas. Las primarias permiten transparentar la selección de los candidatos, involucrar a la ciudadanía en el proceso, y hacer más representativo el sistema político.

						</br>
						</br>
							Pero está en manos de los ciudadanos demostrar que sí valoramos herramientas como ésta, que tenemos opinión, que nos importa quién y cómo nos gobierna, y que queremos ser partícipes de la toma de decisiones, por eso te invitamos a votar.
					      </div>
					    </div>
					  </div>
					<a name="Top"></a>

					</br>

					  <div class="accordion-group">
					   <div class="accordion-heading tituloAcordion">
					     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					       <span class="asterisco">*</span> <strong>¿Qué efectos tiene hacer o no hacer primarias PRESIDENCIALES?</strong>
					      </a>
					    </div>
					    <div id="collapseTwo" class="accordion-body collapse">
					      <div class="accordion-inner">
					        En el caso de las presidenciales, las primarias no son indispensables. El objetivo para los partidos es acordar un candidato único, y así evitar que los votos estén demasiado dispersos entre las candidaturas de una misma coalición, concentrando los votos en el candidato más fuerte.  </br> </br>
							Sin embargo, nuestro sistema electoral contempla una segunda vuelta en el caso de que ningún candidato obtenga la mayoría absoluta en primera vuelta, y las primarias prácticamente representan una “tercera vuelta” antes de llegar al frente a frente de los dos candidatos más votados. 	
					      </div>
					    </div>
					  </div>
					  </br>

					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
					        <span class="asterisco">*</span> <strong>¿Qué efectos tiene hacer o no hacer primarias PARLAMENTARIAS?</strong> 
					      </a>
					    </div>
					    <div id="collapseThree" class="accordion-body collapse">
					      <div class="accordion-inner">
					        En el caso de las parlamentarias, las primarias tienen un rol muy importante. El sistema electoral para elegir a los diputados y senadores es el binominal, el cual te explicamos aquí. </br> </br>
							Dado que el sistema exige que se presenten dos candidatos por lista, las primarias son fundamentales para que la población decida quiénes son los candidatos más apropiados para estar en ésta. Si la selección en cambio, es un proceso interno de los partidos, sin participación ciudadana, no hay certeza de que los dos candidatos escogidos sean los mejores representantes de sus electores, lo cual afecta la legitimidad del Congreso.
					      </div>
					    </div>
					  </div>
					  </br>


					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
					        <span class="asterisco">* </span> <strong>¿Cuándo se realizarán?</strong>
					      </a>
					    </div>
					    <div id="collapseFour" class="accordion-body collapse">
					      <div class="accordion-inner">
					       El domingo 30 de Junio de 2013.
					      </div>
					    </div>
					  </div>
					  </br>

					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
					        <span class="asterisco">*</span><strong> ¿A quiénes habrá que elegir?</strong>
					      </a>
					    </div>
					    <div id="collapseFive" class="accordion-body collapse">
					      <div class="accordion-inner">
					       A los candidatos inscritos para Presidente de la República y Diputado. No todos los candidatos que participarán en las elecciones de noviembre se inscribieron en las primarias. 
					      
					    </div>
					  </div>
					</div>
					</br>


					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
					        <span class="asterisco">*</span> <strong>¿Qué candidatos a la presidencia van a primarias?</strong>
					      </a>
					    </div>
					    <div id="collapseSix" class="accordion-body collapse">
					      <div class="accordion-inner">
					       Son 12 los candidatos a la presidencia y 6 de ellos van a primarias, separados en 2 pactos electorales: la Alianza, en la que compite Andrés Allamand y Pablo Longueira, y la Nueva Mayoría, donde compite Michelle Bachelet, José Antonio Gómez, Claudio Orrego y Andrés Velasco. </br> </br>

						Los otros candidatos - Claude, Enríquez-Ominami, Jocelyn-Holt, Miranda, Parisi y Sfeir -  no estarán en la papeleta, pero sí podrás saber más de ellos en votainteligente.cl.
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
					        <span class="asterisco">*</span><strong> ¿Qué candidatos a diputado van a primarias?</strong>
					      </a>
					    </div>
					    <div id="collapseSeven" class="accordion-body collapse">
					      <div class="accordion-inner">
					       En las primarias parlamentarias sólo se inscribieron candidatos de Renovación Nacional para 10 distritos, correspondiente a 78 comunas del país. Si quieres saber si tu comuna es una de éstas y cuáles son los candidatos que se presentan, haz click aquí.
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
					        <span class="asterisco">*</span> <strong>¿Quiénes pueden votar?</strong>
					      </a>
					    </div>
					    <div id="collapseEight" class="accordion-body collapse">
					      <div class="accordion-inner">
					        Todos los ciudadanos están convocados a participar de la elección. Al momento de convocar elecciones primarias, los partidos políticos y las coaliciones tienen la facultad de establecer quiénes están habilitados para participar, pudiendo determinar si votan sólo militantes o todos los ciudadanos (militantes e independientes). 
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
					        <span class="asterisco">*</span> <strong>¿Puedo votar por un candidato de cada coalición?</strong>
					      </a>
					    </div>
					    <div id="collapseNine" class="accordion-body collapse">
					      <div class="accordion-inner">
					        No se puede votar por un candidato de cada coalición en las primarias presidenciales, debes elegir sólo a uno, de lo contrario, como en toda elección, el voto será nulo. Sin embargo, si en tu comuna hay también primarias parlamentarias, sí puedes votar por un candidato de una coalición en la presidencial, y uno de otra coalición en la parlamentaria, ya que son papeletas separadas. </br> </br>
					La papeleta de las personas independientes (sin militancia en ningún partido) tendrá un listado con los 6 candidatos inscritos. En el caso de los militantes, se les entregará una papeleta que contenga sólo el listado de los candidatos de su partido o coalición.  Los vocales de mesa son los únicos que manejan la información de cuál es la papeleta que te corresponde, por lo que el voto sigue siendo personal y secreto.
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
					        <span class="asterisco">*</span><strong> Si en mi comuna también hay primaria parlamentaria ¿Puedo votar sólo por presidente  y no por diputado o viceversa?</strong>
					      </a>
					    </div>
					    <div id="collapseTen" class="accordion-body collapse">
					      <div class="accordion-inner">
					      Sí puedes, pero de todas formas tendrás que recibir ambas papeletas; luego lo que hagas con tus votos es tu decisión. Podrás votar en ambas, sólo votar en una de las dos,  anular o dejar en blanco. Lo que no puedes hacer es romperlo, metértelo al bolsillo o arrugarlo si no quieres votar, simplemente debes devolverlo.
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
					        <span class="asterisco">*</span> <strong>¿Cuál es la diferencia entre el voto nulo y el blanco?</strong>
					      </a>
					    </div>
					    <div id="collapseEleven" class="accordion-body collapse">
					      <div class="accordion-inner">
					    El voto es nulo cuando tiene marcada más de una preferencia. El voto es blanco cuando no tiene marcada ninguna preferencia, aunque incluya algún mensaje o expresión artística que haya surgido de la creatividad del votante. Aquellos que tienen marcada una sola preferencia y además poseen algún otro tipo de marca o escritura, son votos objetados, y debe ser analizada su validez.
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDoce">
					        <span class="asterisco">*</span> <strong>¿Es cierto que los votos blancos se suman a la mayoría, y que si voto en blanco estoy regalando mi voto al candidato vencedor?</strong>
					      </a>
					    </div>
					    <div id="collapseDoce" class="accordion-body collapse">
					      <div class="accordion-inner">
					      No, es un mito urbano. Los votos blancos están dentro del grupo de los votos no válidos, junto con los nulos. La confusión se genera cuando se transforman los votos en porcentajes. Si hay 100 votos y todos son válidos, un candidato con 60 votos ganaría con el 60%; mientras que de los mismos 100 votos, si 20 no son válidos (no se consideran en el total), el candidato gana con el 75% de los votos, puesto que el cálculo se hace sobre la base de los válidamente emitidos. He ahí el origen del mito.
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTrece">
					        <span class="asterisco">*</span><strong>Si voto en primarias ¿Tengo que votar después en las elecciones de noviembre?</strong>
					      </a>
					    </div>
					    <div id="collapseTrece" class="accordion-body collapse">
					      <div class="accordion-inner">
					      Recuerda que el voto es voluntario, y que SIEMPRE es voluntario. Haber votado en elecciones pasadas no te obliga a votar en las futuras; votar en una primera vuelta no te obliga a votar en segunda, y votar en primarias no te obliga a votar en las siguientes elecciones. Sin embargo te invitamos a hacerlo, te ofrecemos información para que sea de manera informada, y te apoyamos también si tu decisión es votar nulo. Lo importante es participar.
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCatorce">
					        <span class="asterisco">*</span><strong> ¿Dónde debo votar?</strong>
					      </a>
					    </div>
					    <div id="collapseCatorce" class="accordion-body collapse">
					      <div class="accordion-inner">
					      Para conocer tu mesa de votación puedes ingresar tu RUT <a href="http://consulta.servel.cl/">aquí </a>  y ahí verás también si saliste seleccionado como vocal de mesa. Si es la primera vez que votas, estarás inscrito en la comuna donde hayas realizado el algún trámite en el Registro Civil. 
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseQuince">
					        <span class="asterisco">*</span><strong> Nunca he votado ¿Puedo ser seleccionado vocal de mesa?</strong>
					      </a>
					    </div>
					    <div id="collapseQuince" class="accordion-body collapse">
					      <div class="accordion-inner">
					     Si. La selección de los vocales se hace a partir del registro de todos los inscritos, y ahora que la inscripción es automática, todos forman parte de este registro. Debes revisar si saliste elegido y presentarte ese día, si no quieres recibir una multa. </br> </br>
							En sitio del SERVEL está la información de los casos de excepción en los cuales puedes excusarte de desempeñar esta función.
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDieciseis">
					        <span class="asterisco">*</span> <strong>Y luego de las primarias ¿Quién pasa con los resultados?</strong>
					      </a>
					    </div>
					    <div id="collapseDieciseis" class="accordion-body collapse">
					      <div class="accordion-inner">
					      Lo novedoso de estas elecciones primarias es que son vinculantes, es decir, la ley establece que presentarse a primarias es voluntario, pero que los resultados deben ser respetados por los partidos y coaliciones. De esta manera los candidatos vencedores, se adjudican el derecho de representar a la colectividad en la elección final, mientras que los perdedores no podrán presentarse en noviembre para el mismo cargo.
					      
					    </div>
					  </div>
					</div>
					</br>

					<div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDiecisiete">
					        <span class="asterisco">*</span><strong> Sigo teniendo más preguntas ¿Quién me las puede resolver?</strong>
					      </a>
					    </div>
					    <div id="collapseDiecisiete" class="accordion-body collapse">
					      <div class="accordion-inner">
					     Por supuesto puedes escribirnos a info@votainteligente.cl, revisar el <a href ="http://www.servel.cl/controls/neochannels/neo_ch242/appinstances/media504/PautaDefinitivadePreguntasFrecuentesEleccionesPrirmarias2013.pdf">documento de Preguntas Frecuentes del SERVEL </a>, o llamar al 800 366 400. ¡Infórmate!
					      
					    </div>
					  </div>
					</div>
					</br>



</div>
</div>
</div>
</body>































{% endblock content %}
