
{% extends "base_sub_menu.html" %}
{% block content %}

<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" ></script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script> 

<body class="bodySubmenu">
	<div class="container-fluid wraperContent">    
		<div class="row-fluid">
			<div class="span12"> 
				<h3> <img class="iconoInfo" src="{{ STATIC_URL }}images/iconoInfo.png"><img class="iconoInfo" src="{{ STATIC_URL }}images/iconoInfo2.png"><img class="iconoInfo" src="{{ STATIC_URL }}images/iconoInfo3.png"> <span class="masInfo">+ Info |</span> <span class="masInfo2">Todo lo que necesias saber </span></h3>
			</br>
			</br>
					<div class="accordion" id="accordion2">
					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					        <span class="asterisco">*</span> ¿Por qué y para qué es importante votar en las elecciones primarias?
					      </a>
					    </div>
					    <div id="collapseOne" class="accordion-body collapse in">
					      <div class="accordion-inner">
					        Quienes asumen cargos de elección popular son representantes de la ciudadanía, pero si los candidatos son designados entre cuatro paredes, difícilmente sabremos si éstos son los más indicados o los más representativos de sus demandas. Las primarias, por tanto, permiten transparentar la selección de los candidatos, involucrar a la ciudadanía en el proceso, así como también fortalecer, legitimar y hacer más representativo el sistema político. </br> </br>

							Pero ¿de qué sirve un Ferrari si no lo echas a andar? El Congreso aprobó una ley para que existieran primarias vinculantes y los partidos titubearon al momento de aprovecharla. Está en manos de los ciudadanos demostrar que sí valoramos herramientas como ésta, que tenemos opinión, que nos importa quién y cómo nos gobierna, y que queremos ser partícipes de la toma de decisiones, por medio de ésta y de otras vías de acción.
					      </div>
					    </div>
					  </div>
					<a name="Top"></a>

					</br>

					  <div class="accordion-group">
					   <div class="accordion-heading tituloAcordion">
					     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					       <span class="asterisco">*</span> ¿Cuándo se realizarán?
					      </a>
					    </div>
					    <div id="collapseTwo" class="accordion-body collapse">
					      <div class="accordion-inner">
					        Se celebrarán el <strong>domingo 30 de Junio de 2013</strong> y son simultáneas, es decir, todas las primarias inscritas se harán el mismo día.
					      </div>
					    </div>
					  </div>
					  </br>

					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
					        <span class="asterisco">*</span> ¿A quiénes habrá que elegir?
					      </a>
					    </div>
					    <div id="collapseThree" class="accordion-body collapse">
					      <div class="accordion-inner">
					        A los candidatos a la presidencia y al parlamento que hayan decidido inscribirse. Esto significa que no todos los candidatos que participarán en las elecciones de noviembre están necesariamente inscritos en esta primaria.
					      </div>
					    </div>
					  </div>
					  </br>


					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
					        <span class="asterisco">* </span> ¿Qué candidatos a la presidencia van a primarias?
					      </a>
					    </div>
					    <div id="collapseFour" class="accordion-body collapse">
					      <div class="accordion-inner">
					        Son 12 los candidatos a la Presidencia y 6 de ellos van a primarias, por medio de 2 pactos electorales: la Alianza, en la que compite Andrés Allamand y Pablo Longueira, y la Nueva Mayoría, donde compiten Michelle Bachelet, José Antonio Gómez, Claudio Orrego y Andrés Velasco. Los otros candidatos - Claude, Enríquez-Ominami, Jocelyn-Holt, Miranda, Parisi y Sfeir -  no estarán en la papeleta, pero sí podrás saber más de ellos en votainteligente.cl.
					      </div>
					    </div>
					  </div>
					  </br>

					  <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
					        <span class="asterisco">*</span> ¿Qué candidatos al parlamento van a primarias?
					      </a>
					    </div>
					    <div id="collapseFive" class="accordion-body collapse">
					      <div class="accordion-inner">
					        En las primarias parlamentarias sólo se inscribieron candidatos de Renovación Nacional para 10 distritos, correspondiente a 78 comunas del país. Si quieres saber si tu comuna es una de éstas y cuáles son los candidatos que se presentan, haz click aquí.
					      
					    </div>
					  </div>
					</div>
					</br>


					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
					        <span class="asterisco">*</span> ¿Quiénes pueden votar?
					      </a>
					    </div>
					    <div id="collapseSix" class="accordion-body collapse">
					      <div class="accordion-inner">
					       Al momento de convocar elecciones primarias, los partidos políticos y las coaliciones tienen la facultad de establecer quiénes están invitados a participar, pudiendo determinar si votan sólo militantes o todos los ciudadanos (militantes e independientes). Para esta ocasión, han sido convocados tanto militantes como independientes, y dado que la inscripción ahora es  automática, todos los ciudadanos podrán votar en estas primarias.
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
					        <span class="asterisco">*</span> ¿Puedo votar por un candidato de cada coalición?
					      </a>
					    </div>
					    <div id="collapseSeven" class="accordion-body collapse">
					      <div class="accordion-inner">
					        Las principales fuentes de información son sitios web gubernamentales (Ministerio de Salud, Ministerio de Educación, Subsecretaría de Desarrollo Regional, Subsecretaría de Prevención del Delito, Contraloría General de la República, Instituto Nacional de Estadísticas, Ministerio de Desarrollo Social) de los cuales se extrajeron diversos estudios y estadísticas publicadas. Además, se realizaron solicitudes de información pública a través de la Ley de Transparencia, tanto a organismos centrales como a los mismos municipios. 

					        Otros lugares en donde puedes obtener información municipal de este tipo es en los <a href="http://reportescomunales.bcn.cl/index.php/Categor%C3%ADa:Comunas">Reportes Estadísticos Comunales de la Biblioteca del Congreso Nacional</a> y en el <a href="http://www.sinim.gov.cl/indicadores/busq_serie.php">Sistema Nacional  de Información Municipal (SINIM).</a>
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
					        <span class="asterisco">*</span> Si voto en primarias ¿tengo que votar después en las elecciones?
					      </a>
					    </div>
					    <div id="collapseEight" class="accordion-body collapse">
					      <div class="accordion-inner">
					        Recuerda que el voto es voluntario, y que SIEMPRE es voluntario. Haber votado en elecciones pasadas no te obliga a votar en las futuras; votar en una primera vuelta no te obliga a votar en segunda, y votar en primarias no te obliga a votar en las siguientes elecciones. Sin embargo te invitamos a hacerlo, te ofrecemos información para que sea de manera informada, y te apoyamos también si tu decisión es votar nulo. Lo importante es participar.
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
					        <span class="asterisco">*</span> ¿Dónde debo votar?
					      </a>
					    </div>
					    <div id="collapseNine" class="accordion-body collapse">
					      <div class="accordion-inner">
					        Debes ingresas tu RUT en <a href="http://consulta.servel.cl/">Servel </a> para conocer tu mesa de votación y si saliste seleccionado como vocal de mesa. Si es la primera vez que votas, estarás inscrito en la comuna donde hayas realizado el algún trámite en el Registro Civil. 
					      
					    </div>
					  </div>
					</div>
					</br>

					 <div class="accordion-group">
					    <div class="accordion-heading tituloAcordion">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
					        <span class="asterisco">*</span> Y luego de las primarias ¿qué pasa?
					      </a>
					    </div>
					    <div id="collapseTen" class="accordion-body collapse">
					      <div class="accordion-inner">
					      Por supuesto puedes escribirnos a info@votainteligente.cl, revisar el <a href="http://www.servel.cl/controls/neochannels/neo_ch242/appinstances/media504/PautaDefinitivadePreguntasFrecuentesEleccionesPrirmarias2013.pdf">documento de Preguntas Frecuentes</a> del <a href="http://consulta.servel.cl/">SERVEL</a>, o llamar al 800 366 400. ¡Infórmate!
					      
					    </div>
					  </div>
					</div>
					</br>
</div>
</div>
</div>
</body>































{% endblock content %}
