

{% extends "base_sub_menu.html" %}
{% block content %}


<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" ></script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">


<body class="bodySubmenu">
<div class="container-fluid wraperContent">
           
          <div class="row-fluid">
             <div class="span12"> 
                 <div class="flechaMetodologia"> <a name="Top "href="#Top" rel="tooltip" title="Volver a la Lista"> <i class="icon-arrow-up"></i></a></div> 
                 <h3> Perfiles de Intereses de los Candidatos</h3>
                 <p> A continuación revisaremos en detalle cada uno de los datos publicados, qué significa cada dato, qué fuentes de información utilizamos para calcularlos y cómo los calculamos.</p>
                 </br>
            </div>
          </div>
      
          <div class="row-fluid">
             <div class="span12 well menuCandidatos"> 
                 <ul class="listaPerfiles">
                  <li class="itemListaPerfiles" id="Allamand"><a href="#allamand"> Andrés Allamand</a></li>
                  <li class="itemListaPerfiles" id="Bachelet"><a href="#bachelet"> Michelle Bachelet </a></li>
                  <li class="itemListaPerfiles" id="Claude"><a href="#claude"> Marcel Claude </a></li>
                  <li class="itemListaPerfiles" id="Enriquez"><a href="#enriquez"> Marco Enriquez Ominami </a></li>
                  <li class="itemListaPerfiles" id="Gomez"><a href="#gomez"> José Antonio Gomez </a></li>
                  <li class="itemListaPerfiles" id="Holt"><a href="#holt"> Tomás Jocelyn-Holt </a></li>
                  <li class="itemListaPerfiles" id="Longueira"><a href="#longueira"> Pablo Longueira</a></li>
                  <li class="itemListaPerfiles" id="Miranda"><a href="#miranda"> Roxana Miranda </a></li>
                  <li class="itemListaPerfiles" id="Orrego"><a href="#orrego"> Claudio Orrego </a></li>
                  <li class="itemListaPerfiles" id="Parisi"><a href="#parisi"> Franco Parisi  </a></li>
                  <li class="itemListaPerfiles" id="Sfeir"><a href="#sfeir"> Alfredo Sfeir </a></li>
                  <li class="itemListaPerfiles" id="Velasco"><a href="#velasco"> Andrés Velasco </a></li>
                  </ul> 
              </div>
             
             <br/>
          </div> 


          <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="allamand"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    <div class="contenedorCandidato">
                            <div class="categoriaAllamand"></div> 
                              <div class="fichaCandidato">
                              <h4 class="">Andrés Allamand </h4>
                              <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                              <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                              </div>
                            </div>
                        <div class="span12">
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                  <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                  <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                </tbody>
                              </table> 

                        </div>
      </div>
    </div>

     <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="bachelet"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>

                          <div class="contenedorCandidato">
                            <div class="categoriaBachelet"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Michelle Bachelet </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
    
        
            
            <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="claude"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaClaude"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Marcel Claude </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
            
            
            <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="enriquez"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaEnriquez"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Marco Enriquez Ominami </h4>
                               <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
        
             
            <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="gomez"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaGomez"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">José Antonio Gómez </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
            
            
             <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="holt"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaHolt"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Tomás Jocelyn-Holt </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
            
             
          <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="longueira"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaLongueira"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Pablo Longueira</h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
            
            
            <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="miranda"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaMiranda"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Roxana Miranda </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
    
    
              <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="orrego"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaOrrego"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Claudio Orrego </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
          
    
             <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="parisi"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaParisi"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Franco Parisi </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
        
               
             <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="sfeir"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaSfeir"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Alfredo Sfeir </h4>
                                <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>
            </div>
                
         
              <div class="row-fluid">
             <div class="span12 contenedorPerfiles">   
                    <a name="velasco"> </a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                          <div class="contenedorCandidato">
                            <div class="categoriaVelasco"></div> 
                                <div class="fichaCandidato">
                                <h4 class="">Andrés Velasco</h4>
                               <h5>Estado Civil: <span class="color">Casado </span></h5>
                              <h5>Grupo Familiar: <span class="color">Esposa + 4 hijos </span></h5>
                              <h5>Profesión: <span class="color">Arquitecto </span></h5>
                               <a href="{{ STATIC_URL }}documentos/documentoMetodologico.pdf" class="btn btn-mini btn-primary" style="float: right; margin-top: -125px;"> Descargar declaración de intereses completa </a>
                                </div>
                            </div>
                          <div>
                           <h5> Declaración de Patrimonio </h5>
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Nombre de Fantasía</td>
                                    <td>Comunidad El Aromo Limitada</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Razón Social</td>
                                    <td>Constructora Comunidad El Aromo Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Fecha de Constitución de la Sociedad:</td>
                                    <td>12/08/1986</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de Sociedad: </td>
                                    <td>Responsabilidad Limitada</td>
                                  </tr>
                                   <tr>
                                    <td>Situación Legal: </td>
                                    <td>Vigente</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Tipo de participación:  </td>
                                    <td>Participación directa</td>
                                  </tr>
                                     <tr>
                                    <td>Objeto:  </td>
                                    <td>Construcción viviendas económicas DFL 2 y actividades vinculadas</td>
                                  </tr>
                                  <tr class="alt">
                                    <td>Capital Inicial:  </td>
                                    <td>$12.159.588</td>
                                  </tr>
                                    <tr>
                                    <td>Aporte Capital del Candidato:   </td>
                                    <td>$1.737.084</td>
                                  </tr>
                                  </tbody>
                              </table> 

                        </div>
                      </div>
          </div>   
              

</div>            
</body>
        
          {% endblock content %}
