{% extends "base_sub_menu.html" %}
{% block content %}


    <div class="container paginaCompleta">

	 	<!--<div class="bannerQuePuedo"> 
	    <img src="{{ STATIC_URL }}images/bannerQuePuedoHacer.png" />
		</div> 
		 <br/>-->
		 <h4 class="tituloPreguntale">¿Qué puedo hacer en este sitio web? | Revisa todo lo que te tenemos para ti</h4>
				
		<br/>
		<div class="container">
	    <div class="container-fluid">
	    
		<div class="row-fluid calugaQuePuedo">
	    <div class="span5">
	    	<div class="thumbnails">
			
	    	<img class ="quePuedoHacer"src="{{ STATIC_URL }}images/quePuedoHacer.png" alt="">
	    	
			</div>
	    </div>
	    
	    <div class="span7">
	    <h4 class="tituloQuePuedo"> Información sobre los candidatos </h4>
	    <p>Toda la información de los candidatos a alcalde de cada comuna junto a sus posturas en educación, pobreza, diversidad sexual, transparencia y sustentabilidad. 
	    	<em> <strong>Para verlas, sólo debes ingresar el nombre de tu comuna en el buscador superior.</strong> </em>
		</p>
		 <img src="{{ STATIC_URL }}images/quePuedoHacerBuscador.png" alt=""/>
	    </div> 
	    </div>

<br/>



	    <div class="row-fluid calugaQuePuedo">
	    <div class="span5">
	    	<div class="thumbnails">
			
	    	<img class="quePuedoHacer" src="{{ STATIC_URL }}images/quePuedoHacerPreguntale.png" alt="">
	    	
			</div>
	    </div>
	    
	    <div class="span7">
	    <h4 class="tituloQuePuedo"> Pregúntale a los candidatos </h4>
	    <p>Aquí podrás preguntarle a todos los candidatos lo que quieras saber sobre los temas que para ti son importantes. 
	    	<em> <strong>Debes ingresar el nombre de tu comuna en el buscador superior y pinchar el botón verde de "Pregúntale".</strong> </em>
	    	
		</p>

	    <img src="{{ STATIC_URL }}images/quePuedoHacerPreguntale2.png" alt=""/>
	    </div> 
	    </div>

<br/>


	    
	    <div class="row-fluid calugaQuePuedo">
	    <div class="span5">
	    	<div class="thumbnails">
			
	    	<img class="quePuedoHacer" src="{{ STATIC_URL }}images/quePuedoHacerMediaNaranja.png" alt="">
	    	
			</div>
	    </div>
	    
	    <div class="span7">
	    <h4 class="tituloQuePuedo"> Media Naranja Política </h4>
	    <p>¿Con qué candidato tengo más afinidad? Responde un breve cuestionario y descubre con cuál de los candidatos tienes mayor porcentaje de compatibilidad en las respuestas.
	    	<em> <strong>Debes pinchar el boton "Media Naranja" dentro del Candideit.org.</strong> </em>
		</p>
		
		<img src="{{ STATIC_URL }}images/quePuedoHacerMediaNaranja2.png" alt=""/>
	    </div> 
	    </div>
		
		<br/>
	    
	    <div class="row-fluid calugaQuePuedo">
	    <div class="span5">
	    	<div class="thumbnails">
			
	    	<img class="quePuedoHacer" src="{{ STATIC_URL }}images/quePuedoHacerInformate.png" alt="">
	    	
			</div>
	    </div>
	    
	    <div class="span7">
	    <h4 class="tituloQuePuedo"> Cifras en detalle de tu comuna </h4>
	    <p>Entérate de las cifras más importantes en materia de salud, educación, participación ciudadana, presupuestos, transparencia y urbanismo.
	    	<em> <strong>Pincha el boton azul "Revisa los datos duros de tu comuna".</strong> </em>
		</p>
		
		<img src="{{ STATIC_URL }}images/quePuedoHacerInformate2.png" alt=""/>
	    </div> 
	    </div>
	    <br/>

	    
	    <div class="row-fluid calugaQuePuedo">
	    <div class="span5">
	    	<div class="thumbnails">
			<a href="http://www.votainteligente.cl/fiscaliza" class="thumbnail">
	    	<img src="{{ STATIC_URL }}images/quePuedoHacerFiscaliza.png" alt="">
	    	</a>
			</div>
	    </div>
	    
	    <div class="span7">
	    <h4 class="tituloQuePuedo"> Fiscaliza propaganda ilegal </h4>
	    <p> Denuncia la propaganda ilegal, pancartas, rayados y otras alteraciones en el espacio público de cualquier comuna subiendo fotos y ubicándolas en un mapa.
	    	<em> <strong>Puedes ingresar directamente con el botón fiscaliza ubicado en el home o con el boton rojo desde una comuna en particular</strong> </em>
		</p>
		<img src="{{ STATIC_URL }}images/quePuedoHacerFiscaliza2.png" alt=""/>
	    </div> 
	    </div>
		

		
		


		</div>



	</div>

































</div>

{% endblock content %}