{% extends "base_sub_menu.html" %}
{% block content %}



<div class="paginaCompleta container">
</br> </br>
<h3>¿Qué Queremos?</h3>
<p class="queremos"> 
En Fundación Ciudadano Inteligente nos interesa promover la participación ciudadana y el voto informado por medio de distintas herramientas web. Nuestro objetivo por medio del Vota Inteligente es ayudarte a resolver las dudas que tengas respecto a las elecciones, que conozcas  las propuestas de los candidatos, puedas compararlos, escribirles tus dudas y plantearles tus inquietudes, para que así finalmente logres encontrar a el/la que mejor te representa, y creas importante manifestarlo a través de tu voto. </br></br>

No nos basta con sentarnos a escuchar que la ciudadanía está desencantada y que existe apatía hacia la clase política. No nos conformamos con el pesimismo de quienes piensan que no se pueden hacer cambios. Creemos necesario proponer ideas, generar debates, fomentar la transparencia y democratizar la información, para que así seamos cada vez más los que tengamos la convicción de que ciudadanos activos, informados, empoderados y participativos pueden mover montañas.
</p>
        
        </div>













































{% endblock content %}