{% extends "base_sub_menu.html" %}
{% block content %}
     <meta property="og:description" content="Todo lo que necesitas saber para votar"/>    
           
         
         
         
         <div class="paginaCompleta container">  	
           
               
               <div class="bannerPropaganda"> 
               <a href="http://www.elvaso.cl/2012/10/propaganda-electoral-respetan-la-ley/" target="_blank"><img src="{{ STATIC_URL }}images/bannerPropaganda.jpg" /> </a></div>
               
               <br/>
                
                    <iframe src="http://mapadenuncia.ciudadanointeligente.org/" style="width:970px;" height="1115px" frameborder="0" scrolling="yes"> </iframe>
	
	</div>	
		
		
						 <br />
						
                       
                
      
        </div>
        
        {% endblock content %}
	

